
*{
    margin:0;
    box-sizing: 0;
}

.contenedor {
    border: 5px dashed skyblue;
    height: 700px;
}

.position {
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.static {
    background-color: red;
}

.relative {
    background-color: yellow;
    position: relative;
    top: 20px;
    left: 5%;

}

.absolute {
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    right: 0;
}

.fixed {
    background-color: greenyellow;
    position: fixed;
    top: 0;
    left: 50%;
}

.sticky {
    background-color: lightcoral;
    position: sticky;
    top:0
}